<footer class="bg-gray-50 text-black shadod">

  <!-- Main footer -->
  <div class="mx-auto max-w-7xl px-6 py-14 sm:px-8 lg:px-10">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-4">
      <!-- Brand -->
      <div>
        <h2 class="text-4xl font-extrabold tracking-tight">
          Kum<span class="text-amber-500">hOo</span>
        </h2>
        <p class="mt-6 max-w-sm text-sm leading-7 ">
          Autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat vel illum dolore eu feugiat nulla facilisis.
        </p>

        <div class="mt-6 flex flex-wrap items-center gap-4">
          <i class="fa-brands fa-facebook-f transition hover:text-amber-500"></i>
          <i class="fa-brands fa-instagram transition hover:text-amber-500"></i>
          <i class="fa-brands fa-whatsapp transition hover:text-amber-500"></i>
          <i class="fa-brands fa-twitter transition hover:text-amber-500"></i>
          <i class="fa-brands fa-linkedin-in transition hover:text-amber-500"></i>

        </div>
      </div>

      <!-- Shop -->
      <div>
        <h3 class="text-lg font-semibold uppercase tracking-wide">
          Our Shop
        </h3>
        <ul class="mt-6 space-y-4 text-sm">
          <li><a href="#" class="transition hover:text-amber-500">About Us</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Browse Products</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Read Our Blog</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Contact Us</a></li>
        </ul>
      </div>

      <!-- Collections -->
      <div>
        <h3 class="text-lg font-semibold uppercase tracking-wide">
          Collections
        </h3>
        <ul class="mt-6 space-y-4 text-sm ">
          <li><a href="#" class="transition hover:text-amber-500">Summer 2026</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Women’s Dresses</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Women’s Jackets</a></li>
          <li><a href="#" class="transition hover:text-amber-500">Men’s Shirts</a></li>
        </ul>
      </div>

      <!-- Payment -->
      <div>
        <h3 class="text-lg font-semibold uppercase tracking-wide">
          Payment Methods
        </h3>
        <p class="mt-6 max-w-sm text-sm leading-7">
          Autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie consequat vel illum dolore.
        </p>

        <div class="mt-6 flex flex-wrap items-center gap-3">
          <i class="fa-brands fa-cc-visa transition hover:text-amber-500"></i>
          <i class="fa-brands fa-cc-mastercard transition hover:text-amber-500"></i>
          <i class="fa-brands fa-cc-amex transition hover:text-amber-500 "></i>
        </div>
      </div>
    </div>

    <!-- Bottom bar -->
    <div class="mt-12 border-t border-white/15 pt-6">
      <p class="text-center text-sm">
        Copyright © 2026
        <span class="">ThemeIM Solution</span>
        <span class="mx-2">•</span>
        Designed by
        <span class="text-amber-500">ThemeIM</span>
      </p>
    </div>
  </div>
</footer>